.blockDescription {
    text-align: center;
}

.ProfileAvatar {
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: end;

    width: 96px;
    height: 96px;

    background-image: url('https://klike.net/uploads/posts/2019-06/1560329641_2.jpg');
    background-size: cover;
    border: 1px solid green;
    border-radius: 50px;
}

img {
    width: 96px;
    height: 96px;
}

.Title {
    margin: 0;
}

.blockDescription {
    height: 200px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
}


