.AppContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  width: 80%;
  height: 100vh;
  margin: 0 auto;
}
.personalInformationBlock {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: space-evenly;

  width: 450px;
  min-height: 520px;

  border: 2px solid #7c8385;
}
