.AppContainer {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-around;

  width: 80%;
  height: 100vh;
  margin: 0 auto;
}

.personalInformationBlock {
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1), -1px -1px 2px rgba(0, 0, 0, 0.1);
  background-color: white;
  width: 450px;
  min-height: 520px;

  font-family: 'Montserrat';

  border: 2px solid #7c8385;
}
.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;

  height: 300px;
}
.titleContainer {
  margin-top: 30px;
}
.titleStyle {
  font-family: Arial;
  font-size: 30px;
}

.BarImg {
  display: flex;
  flex-direction: row;
  align-items: center;
}
