.form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;

  width: 90%;
  min-height: 520px;

  font-family: 'Montserrat';
  font-size: 16px;
  font-weight: 500;
  line-height: 24px;
}

.forgotPass {
  padding: 5px 0 50px 0;

  font-size: 14px;
  line-height: 18px;
  color: black;
  text-align: right;
  text-decoration: none;
}

.signUp {
  font-weight: 500;
}

.haveAcc {
  padding-bottom: 10px;
}

.error {
  color: red;
}

.passwordInputContainer {
    position: relative;
}
.EyeIconPosition {
    position: absolute !important;
    top: 9px;
    left: 360px;
}
