.form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    margin: 0;
    padding: 0 30px;
}

.forgotPass {
    color: black;
    text-align: right;
    text-decoration: none;
}

.signInButton {
    border-radius: 20px;
}

.error {
    color: red;
}